@import 'music';
@import 'portfolio';

@keyframes fadein {
  from {
    opacity: 0;
    height: calc(100vh - #{$HEADER-HEIGHT});
  }
}

.app {
  height: calc(100vh - #{$HEADER-HEIGHT});
  overflow-y: auto;
  &.bottom-margin .below-the-fold {
    padding-bottom: calc(#{$PLAYER-HEIGHT});
    min-height: calc(100vh - #{$HEADER-HEIGHT} - #{$MAIN-PADDING} - #{$PLAYER-HEIGHT});
  }
  h2 {
    font-style: italic;
    margin: $MAIN-MARGIN 0;
  }
  .above-the-fold {
    color: #ddd;
    animation: fadein 1.75s;
    height: calc(100vh - 175px);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    text-align: center;
    @media(min-width: 750px) {
      h1 {
        font-size: 4rem;
      }
    }
  }
  .below-the-fold {
    min-height: calc(100vh - #{$HEADER-HEIGHT} - #{$MAIN-PADDING} - #{$MAIN-PADDING});
    padding: $MAIN-PADDING;
    background-color: $WHITE;
    p {
      text-align: justify;
      margin: $MAIN-MARGIN 0;
    }
    @media(min-width: 750px) {
      padding: $MAIN-PADDING 20%;
    }
  }
}
